    <!-- Development script - becomes ingored after compiled to dist folder -->
    <script type="text/javascript" src="dev-scripts/fronthack-dev.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      // Toggle hamburger
      $( document ).ready(function() {
        $('#hamburger-show').on('click', function(e) {
          $(this).parent('.hamburger-nav').addClass('is-visible')
        });
        $('#hamburger-hide').on('click', function(e) {
          $(this).parent('.hamburger-nav').removeClass('is-visible')
        });
      });
    </script>
  </body>
</html>
