// Block
//
// Block component used for wrapping block content.


// Elements
// --------------------------------------------------
.block__title
  padding-bottom: 55px
  font-size: 34px
  margin: 0
  text-align: center

.block__content
  +clearfix()
