// Text with-image
//
// Composition of text and corresponding image.


// Block
// --------------------------------------------------
.text-with-image
  +breakpoint(tablet)
    display: flex
    align-items: flex-start

// Elements
// --------------------------------------------------
.text-with-image__img
  max-width: 100%
  margin: 0 auto 35px
  display: block
  +breakpoint(tablet)
    margin: 0 78px 0 0

.text-with-image__text
  flex: 1
  margin-top: -5px
  font-weight: $regular

